<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>About Us</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <button class="btn-right"><a href="/">Back</a></button>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

  <h1><center>About Us</center></h1>
  
  <div class="bgcolor">
      <br><br><br><br><br><br>
    <p><center><b>This application was developed as a part of the Software Engineering Course at our college under the guidance of Vivek Menon Sir. The developers of this project are:</b></center></p>
    <form action = "/auth/about_us" method="GET"></form>
<div class="flex-container">
<div class="flex-child:first-child">
    <div class="b1">
        Rithika B Lekshmi<br>B.Tech in Computer Science Engineering<br>Amrita Vishwa Vidyapeetham, Amritapuri
    </div>
    </div>
    <div class="flex-child:first-child">
    <div class="b1">
        Vaishnavi K P<br>B.Tech in Computer Science Engineering<br>Amrita Vishwa Vidyapeetham, Amritapuri
    </div>
    </div>
</div>
<div class="flex-container">

  <div class="flex-child:first-child">
    <div class="b1">
        Reshma Rajan<br>B.Tech in Computer Science Engineering<br>Amrita Vishwa Vidyapeetham, Amritapuri
    </div>
    </div>
    <div class="flex-child:first-child">
    <div class="b1">
        Jasna Suresh<br>B.Tech in Computer Science Engineering<br>Amrita Vishwa Vidyapeetham, Amritapuri
    </div>
    </div>
</div>
    </form>
</div>
    </body>
    </html>