<!DOCTYPE html>
<html>

<head>
  <title>admin home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/a1.css">
</head>

<body>
  <h1 style="text-align:center; color:rgb(15, 9, 102); font-family:Garamond, serif;font-size:60px;font-style:;"">curE</h1>

  <button class="btn-right"><a href="/">Log out</a></button>

<div style="margin-left:200px; align-items: flex-end;" >

  <div class="flip-card" style="display: inline-block;margin:80px;">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.pinimg.com/originals/50/a2/d1/50a2d146264ab077174c6a61bfd19678.jpg" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1 >Doctor Authentication</h1><hr><br>
   <button class="button"><a href='/doctor_auth'>Verify</a></button>
      </div>
  </div>
</div>

<div class="flip-card" style="display: inline-block;margin:80px;">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://thumbs.dreamstime.com/b/call-us-appointment-website-button-vector-flat-icon-flat-isolated-vector-eps-illustration-icon-minimal-design-119154455.jpg" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Confirm Appointments</h1><hr><br>
      <button class="button"><a href='/admin_confirm'>Verify</a></button>
    </div>
</div>
</div>


</div>
</body>
</html>
