<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/123.css">
    <h1 style="text-align:center; color:black;font-family:georgia,garamond,serif;font-size:60px;font-style:italic;"> Doctor Profile </h1>
</head>
<body>
    <div class="container">
    <div class="main-body"

          <div class="row field-sm">
            <div class="col-md-4 mb-3">
              <div class="profile">
                <div class="profile-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0RDPHl3rdTI167jIkE0gfZ9lA8vi9iyg3Qw&usqp=CAU" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4></h4>
                      <button class="btn btn-primary">Edit Profile</button>

                    </div>
                  </div>
                </div>
              <div class="profile mt-3">
                <ul class="list-group list-group-flush">
            <div class="col-md-8">
              <div class="profile mb-3">
                <div class="profile-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     Dr. Ayushka
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      ayushka123@gmail.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      9589656478
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      A1 Street, Ajay Nagr, Trivandrum
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Specialisation</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Cardiologist
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Consultation fees</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     500
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Qualification</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    MBBS, MD
                    </div>
                  </div>
                </div>
              </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>


</body>
</html>