<!DOCTYPE html>
<html>

<head>
  <title>Patient home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/p1.css">
</head>

<body>
  <h1 style="text-align:center;font-family:georgia,garamond,serif;font-size:60px;font-style:italic;"">curE</h1>
<!-- <p style="font-family:georgia,garamond,serif;font-size:25px;font-style:italic;"> Cures your disease within reach!!!</p> -->
<div style="margin-left:170px">
 

<div class="flip-card" style="display: inline-block;margin:10px;">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://insights.dice.com/wp-content/uploads/2018/04/Social-Login-Dice.jpg" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1 style="font-family:georgia,garamond,serif;font-size:25px;font-style:italic;">Login as Doctor</h1><br><br><br><br>
      <button class="button button1"><a href="/logind">Login</a></button>
    </div>
</div>
</div>

<div class="flip-card" style="display: inline-block;margin:10px;">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://insights.dice.com/wp-content/uploads/2018/04/Social-Login-Dice.jpg" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1 style="font-family:georgia,garamond,serif;font-size:25px;font-style:italic;">Login as Admin</h1><br><br><br><br>
      <button class="button button1"><a href="/logina">Login</a></button>
    </div>
</div>
</div>
 <div class="flip-card" style="display: inline-block;margin:10px;">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://insights.dice.com/wp-content/uploads/2018/04/Social-Login-Dice.jpg" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1 style="font-family:georgia,garamond,serif;font-size:25px;font-style:italic;">Login as Patient</h1><br><br><br><br>
      <button class="button button1"><a href="/loginp">Login</a></button>
      </div>
  </div>
</div>

<div class="flip-card" style="display: inline-block;margin:10px; ">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://www.acko.com/wp-content/uploads/2017/04/Registration-of-Vehicle.jpg" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1 style="font-family:georgia,garamond,serif;font-size:25px;font-style:italic;">Register as doctor</h1><br><br><br><br>
    <button class="button button1"><a href="/registerd">Register</a></button>
    </div>
</div>
</div>

<div class="flip-card" style="display: inline-block;margin:10px; ">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://www.acko.com/wp-content/uploads/2017/04/Registration-of-Vehicle.jpg" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1 style="font-family:georgia,garamond,serif;font-size:25px;font-style:italic;">Register as Patient</h1><br><br><br><br>
    <button class="button button1"><a href="/registerp">Register</a></button>
    </div>
</div>
</div>

<div class="flip-card" style="display: inline-block;margin:10px;">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="https://media.istockphoto.com/vectors/about-us-blue-round-button-vector-id1070716138?k=6&m=1070716138&s=612x612&w=0&h=8X5Tj73dTaqA1GN_tmyQTC4hb-0tFRuZG_BhGVn9Lyw=" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1 style="font-family:georgia,garamond,serif;font-size:25px;font-style:italic;">About Us</h1><br><br><br><br>
      <button class="button button1"><a href="/about_us">View</a></button>
    </div>
</div>
</div>
</div>
</body>
</html>
