<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/log.css">
</head>
<body>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container">
  <h1>Login</h1>

  <form action = "/auth/logina" method="POST">
    <div class="tbox">
        <input type="text" class="form-control" placeholder="username" value="" name="email">
    </div>
    <div class="tbox">
      <input type="password" class="form-control" placeholder="password" value="" name="password">
    </div>
    <input class="btn" type="submit" name="" value="Login">
  </form>
  <a class="b1" href="/aforgot_pw">Forgot Password?</a>
  <!--<label for="signup"><b>New to curE? Create an account:</b></label>
  <a class="b1" href="/pregister">Patient</a>
  <a class="b1" href="/dregister">Doctor</a>-->
{{#if message}}
    <h2 class = "alert alert-danger mt-4"style="background-color:red">{{message}}</h2>
    {{/if}}
</body>
</html>