<html>
    <head>
        <title>Consultation</title>
        <link rel="stylesheet" href="ta.css">
    </head>
    <body>
        <div class="cont">
        <h1>REMINDER</h1>
        <table class="content-table">
            <thead>
              <tr>
                <th>S.no</th>
                <th>Doctor</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              
                <tr class="active-row">
                <td>1</td>
                <td>Varun S</td>
                <td>12 April 2021</td>
                <td>16:00hrs</td>
                <td>Pending</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Jeeta Suresh</td>
                <td>04 April 2021</td>
                <td>15:00 hrs</td>
                <td>Consulted</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Manjana Raj</td>
                <td>14 February 2021</td>
                <td>15:00 hrs</td>
                <td>Consulted</td>
              </tr>
            </tbody>
          </table>
        </div>
        </body>
</html>