<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/paym.css">
</head>
<body>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container">
  <h1>Payment</h1>

  <form action="/auth/pay" method="post">
    <div class="tbox">
        <h2>GPAY NUMBER</h2>
        
    </div>
    <div class="tbox">
     <h3>7531043339</h3>
    </div>
    <h5>Click after making payment</h5>
    
        
        
     
    <input class="btn" type="submit" name="" value="Paid">

    <h5 class="alert mt-4">(If payment is successful, appointment will be scheduled soon)</h5>
  </form>
  
</body>
</html>