<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Search</title>
    <link rel="stylesheet" href="style11.css" />
    
  </head>
  <body>
    <div class="container" post="">
      <h1>SEARCH FOR DOCTOR</h1>
      <h2>Location</h2>

      <div class="select-box">
        <div class="options-container">
         

          <div class="option">
            <input type="radio" class="radio" id="Kannur" name="category1" />
            <label for="Kannur">Kannur</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Thrissur" name="category1" />
            <label for="Thrissur">Thrissur</label>
          </div>

          <div class="option">
            <input type="radio" class="radio" id="Ernakulam" name="category1" />
            <label for="Ernakulam">Ernakulam</label>
          </div>

         

          <div class="option">
            <input type="radio" class="radio" id="Trivandrum" name="category1" />
            <label for="Trivandrum">Trivandrum</label>
          </div>
          <div class="option">
            <input type="radio" class="radio" id="Kozhikode" name="category1" />
            <label for="Kozhikode">Kozhikode</label>
          </div>
          <div class="option">
            <input type="radio" class="radio" id="Alappuzha" name="category1" />
            <label for="Alappuzha">Alappuzha</label>
          </div>
          <div class="option">
            <input type="radio" class="radio" id="Malappuram" name="category1" />
            <label for="Malappuram">Malappuram</label>
          </div>
        </div>

        <div class="selected">
          Select
        </div>
        <div class="search-box">
          
        </div>
      </div>
      <h2>Specialization</h2>

      <div class="select-box">
        <div class="options-container">
          <div class="option">
        <input
          type="radio"
          class="radio"
          id="Physician"
          name="category"
        />
        <label for="Physician">Physician</label>
      </div>

      <div class="option">
        <input type="radio" class="radio" id="Paediatrician" name="category" />
        <label for="Paediatrician">Paediatrician</label>
      </div>

      <div class="option">
        <input type="radio" class="radio" id="Dentist" name="category" />
        <label for="Dentist">Dentist</label>
      </div>

      <div class="option">
        <input type="radio" class="radio" id="Gynacologist" name="category" />
        <label for="Gynacologist">Gynacologist</label>
      </div>

      <div class="option">
        <input type="radio" class="radio" id="Cardiologist" name="category" />
        <label for="Cardiologist">Cardiologist</label>
      </div>

      <div class="option">
        <input type="radio" class="radio" id="ENT Specialist" name="category" />
        <label for="ENT Specialist">ENT Specialist</label>
      </div>

      <div class="option">
        <input type="radio" class="radio" id="Orthopaedic" name="category" />
        <label for="Orthopaedic">Orthopaedic</label>
      </div>

      <div class="option">
        <input type="radio" class="radio" id="Other" name="category" />
        <label for="Other">Other</label>
      </div>

  </div>
  <div class="selected">
    Select 
  </div>
      </div>
      
<input class="btn" type="submit" name="" value="Search">
    </div>
   
    <script src="main.js"></script>
  </body>
</html>