body{
    background: #333;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(195, 142, 199 ) 50%, rgb(210, 185, 211) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
    
    .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
    }
    .bg3 {
    animation-duration:5s;
     }
.container{
    width: 360px;
    height: 600px;
    background: url(bgnew.png);
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.container h1{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
}
input[type=text], input[type=password], input[type=number]{
    background: #e7e7da;
    border-radius: 10px;
    margin-top: 2px;
    margin: 5px auto;
    border-style: hidden;
    text-align: center;
    width: 90%;
    line-height: 37px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #333;
}
.btn{
    width: 260px;
    height: 40px;
    background: purple;
    border-radius: 10px;
    margin: 14px auto;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
}
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
