* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/14/41/cardio-heartbeat-medical-background-design-vector-24611441.jpg);
    background-size: cover;
  }
  
  
  .container {
    margin-top: 100px;
 margin-left: 315px;
 border-radius:10px;

    padding: 35px;

    width: 500px;
    height: 500px;
    background: url(https://image.freepik.com/free-photo/doctor-with-stethoscope-hand-hospital-background-medical-medicine-concept_34200-278.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .container h2 {
    margin: 6px;
    margin-top: 10%;
    color: rgb(7, 2, 29);
    align-items: center;
  }
  h1{
      font-size: 40px;
      font-family: Verdana, Geneva, Tahoma, sans-serif ;
      color: purple;
      
  }
  .select-box {
    position: relative;
    display: flex;
    width: 300px; 

 margin-left: 20px;
    flex-direction: column;
    top: 10px;
  }
  .tbox{
    width: 260px;
    height: 40px;
    background: #e7e7da;
    border-radius: 10px;
    margin: 10px auto;
}
.tbox input{
    background: none;
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    line-height: 37px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: #333;
}
  
  .select-box .options-container {
    background: #c9d8ec;
    color: #0d1741;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 10px;
    overflow: hidden;
    top: 15px;
    left: 55px;
    order: 1;
  
    position: absolute;
    z-index: 100;
  }
  
  .selected {
    background: #0a013b;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    left:15%;
    top:10%;
  
    order: 0;
  }
  
  .selected::after {
    content: "";
    background: url("img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    
  
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 50px;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: 6px;
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 8px 8px 8px 0;
   
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #658ecc;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 44px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #638fc5;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }
  .btn{
    width: 200px;
    height: 40px;
    background: #e4e4f0;
    border-radius: 10px;
    border-color: black;
    margin: 50px auto;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 16px;
    border: none;
    color: rgb(12, 10, 10);
    cursor: pointer;
}
  /* Searchbox */
  